@media screen and (max-width: 2560px) and (-webkit-min-device-pixel-ratio: 2){
    html{
        scroll-behavior: smooth;
    }

    body::before{
        /*content: "MacBook Retina erkannt";*/
        background: #000000;
        color: #D3D3D3;
    }

    #home{
        width: 100vw;
        height: 90vh;
        background-image: url(images/IMG_3596.PNG);
        background-size: contain;
        background-position-x: 55rem;
        background-position-y: 5rem;
        background-repeat: no-repeat;
        border-bottom-right-radius: 30rem; 
    }

    .container{
        padding: 20px 10%;
    }

    .header-text{                   /*text größe etc*/
        margin-top: 13%;
        font-size: 30px;
    }
    .header-text h1{
        font-size: 50px;
        margin-top: 0%;
    }
    .header-text h1 span{
        color: #696969;
    }
}

@media screen and (min-width: 1920px) and (-webkit-min-device-pixel-ratio: 1){
    #home{
        width: 100vw;
        height: 90vh;
        background-image: url(images/IMG_3596.PNG);
        background-size: contain;
        background-position-y: 5rem;
        background-position-x: 80rem;
        background-repeat: no-repeat;
        border-radius: 1000px; 
        /*border-bottom: ;*/
    } 
    .container{
        padding: 20px 10%;
    }
    .header-text{                   /*text größe etc*/
        margin-top: 13%;
        font-size: 30px;
    }
    .header-text h1{
        font-size: 50px;
        margin-top: 0%;
    }
    .header-text h1 span{
        color: #696969;
    }
}

/*@media screen and (min-width: 880px) and (max-width: 1920px){
    html{
        scroll-behavior: smooth;
    }

    body{
        background: #000000;
        color: #D3D3D3;
    }

    #home{
        width: 115rem;
        height: 55rem;
        background-image: url(images/IMG_3596.PNG);
        background-size: contain;
        background-position-x: 75rem;
        background-position-y: 5rem;
        background-repeat: no-repeat;
        border-bottom-right-radius: 30rem; 
    }

    .container{
        padding: 20px 10%;
    }

    .header-text{                   /*text größe etc
        margin-top: 13%;
        font-size: 30px;
    }
    .header-text h1{
        font-size: 50px;
        margin-top: 0%;
    }
    .header-text h1 span{
        color: #696969;
    }
}*/