@media screen and (max-width: 2560px) and (-webkit-min-device-pixel-ratio: 2){
    html{
        scroll-behavior: smooth;
    }

    body::before{
        /*content: "MacBook Retina erkannt";*/
        background: #000000;
        color: #D3D3D3;
    }

    #home{
        width: 100vw;
        height: 90vh;
        background-image: url(images/IMG_3596.PNG);
        background-size: contain;
        background-position-x: 55rem;
        background-position-y: 5rem;
        background-repeat: no-repeat;
        border-bottom-right-radius: 30rem; 
    }

    .container{
        padding: 20px 10%;
    }

    .header-text{                   /*text größe etc*/
        margin-top: 13%;
        font-size: 30px;
    }
    .header-text h1{
        font-size: 40px;
        margin-top: 0%;
    }
    .header-text h1 span{
        color: #696969;
    }
    .abild{
        width: 100%;
        max-width: 400px; /* Maximale Breite des Bildes */
        margin-top: 86px;
        border-radius: 1000px; /* Runde Ecken */
    }
}

@media screen and (min-width: 1920px) and (-webkit-min-device-pixel-ratio: 1){
    #home{
        width: 100vw;
        height: 90vh;
        background-image: url(images/IMG_3596.PNG);
        background-size: contain;
        background-position-y: 5rem;
        background-position-x: 80rem;
        background-repeat: no-repeat;
        border-radius: 1000px; 
        /*border-bottom: ;*/
    } 
    .container{
        padding: 20px 10%;
    }
    .header-text{                   /*text größe etc*/
        margin-top: 13%;
        font-size: 30px;
    }
    .header-text h1{
        font-size: 50px;
        margin-top: 0%;
    }
    .header-text h1 span{
        color: #696969;
    }
    .abild{
        width: 100%;
        max-width: 400px; /* Maximale Breite des Bildes */
        margin: 0 auto;
        border-radius: 1000px; /* Runde Ecken */
    }
}

@media screen and (max-width: 390px) and (max-height: 844px) and (-webkit-min-device-pixel-ratio: 3){
    html{
        scroll-behavior: smooth;
    }

    body::before{
        background: #000000;
        color: #D3D3D3;
    }

    #home{
        width: 100vw;
        height: 100vh;
        background-image: url(images/IMG_3596.PNG);
        background-size: contain;
        background-position-x: 2rem;
        background-position-y: 22rem;
        background-repeat: no-repeat;
        border-bottom-right-radius: 20rem;
        border-bottom-left-radius: 27rem;
    }

    .container{
        padding: 20px 2%;
    }

    .header-text{                   /*text größe etc*/
        padding-left: 60px;
        margin-top: 30%;
        font-size: 20px;
        text-align: center;
    }
    .header-text h1{
        font-size: 25px;
        margin-top: 0%;
        text-align: center;
    }
    .header-text h1 span{
        color: #696969;
    }
    .abild{
        margin-top:172px;
        margin-left:-112px;
        width: 88%;
        max-width: 500px; /* Maximale Breite des Bildes */
        border-radius: 1000px; /* Runde Ecken */
    }
}